body{
  background-color:#A9A9A9;
  background-image: url("facebook.jpg");
  background-size:cover;
  background-attachment: fixed;
  font-family : actor;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  margin: 0;
}

.main{
  width:1200px;
  height: auto;
}
h1{
  font-family:alfa-slab-one;
  font-style: normal;
  font weight:400;
  font size: 2em;
  text-align: center;
  line-height:1em;
  height:1em
}
